#all_buttons_in_body_admin{
    align-self: center;
}

.button_style_admin{
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    width: 100%;
    button:hover;
    font-size: 45px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}


