#all_buttons_in_body_alluser{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 10px;
    padding-right: 10px;

}

.center_things{
    display: flex;
    justify-content: center;
}
