*{
    margin: 0;
    padding: 0;
}

.no-margin-padding{
    margin: 0;
    padding: 0;
}

.site-container{
    max-width: 70%;
    margin: auto;
}

.header-button{
    width: 100%;
}

#header-logout-button{
    float: right;
}


.content-under-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    margin: auto;
    height: 80vh;
}

.content-under-header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    margin: auto;
    height: 80vh;
}


.button-style-home{
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    width: 100%;
    button:hover;
    font-size: 45px;
    border-radius: 5px;

}

.header-style{
    padding-bottom: 10px;
}



.img_style{
    width: 30%;
    float: left;
}

button:hover {
    opacity: 0.8;
}

.flex{
    display: flex;
}


