.content-under-header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    margin: auto;
    min-height: 100vh;
    padding-top: 30px;
}
.landingpageHeader{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.container{
    display: inline-block;
    box-sizing: border-box;
}

.img_style{
    width: 80%
}

