<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle skadesrapporter</title>
    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/all-users.css}">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<div class="content-under-header">
    <div>
        <h1 class="center_things">Skadesrapporter:</h1>
        <table>
            <thead>
            <tr>
                <th> Skadesrapport id </th>
                <th> Bemærkninger </th>
                <th> Medarbejder id </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listOfDamageReports.empty}">
                <td colspan="5"> Der er ingen skadesrapporter i systemet </td>
            </tr>
            <tr th:each="damageReport : ${listOfDamageReports}">
                <td><span th:text="${damageReport.id}"> Skadesrapport id </span></td>
                <td><span th:text="${damageReport.notes}"> Bemærkninger </span></td>
                <td><span th:text="${damageReport.technicianId}"> Bruger id </span></td>
                <td>
                    <a th:href="@{/skadesrapport/{damageReportId}(damageReportId=${damageReport.id})}">
                        <button class="button">Rediger</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>