<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bruger</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/all-users.css}">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<div class="content-under-header">
    <div th:if="${listOfUsers.size() == 0}">
        <h2>Der er ikke nogle bruger</h2>
    </div>
    <div>
        <h1 class="center_things">Bruger:</h1>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col" class="table-secondary"> Brugernavn </th>
                <th scope="col" class="table-secondary"> Rolle </th>
                <th scope="col" class="table-secondary"> Link </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listOfUsers.empty}">
                <td colspan="4"> Der er ingen brugere i systemet</td>
            </tr>
            <tr th:each="user : ${listOfUsers}">
                <td ><span th:text="${user.username}"> brugernavn </span></td>
                <td >
                    <span th:if="${user.role.toString() == 'DATA_REGISTRATION'}" th:text="'Dataregistrering'"></span>
                    <span th:if="${user.role.toString() == 'DAMAGE_AND_RECTIFICATION'}" th:text="'Skade og udbedring'"></span>
                    <span th:if="${user.role.toString() == 'BUSINESS_DEVELOPER'}" th:text="'Forretningsudvikler'"></span>
                    <span th:if="${user.role.toString() == 'ADMINISTRATOR'}" th:text="'Administrator'"></span>
                </td>
                <td>
                    <a th:href="@{/bruger/{userId}(userId=${user.id})}">
                        <button class="btn btn-secondary">Rediger</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>