<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biler</title>
    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/all-users.css}">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"></header>

<div class="content-under-header">
    <div>
        <h1 class="center_things">Bruger:</h1>
        <table>
            <thead>
            <tr>
                <th> Vognnummer</th>
                <th> Mærke</th>
                <th> Model</th>
                <th> Status</th>
                <th> Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listOfCars.empty}">
                <td colspan="5"> Der er ingen biler i systemet</td>
            </tr>
            <tr th:each="car : ${listOfCars}">
                <td><span th:text="${car.id}"> Vognnummer </span></td>
                <td><span th:text="${car.make}"> Mærke </span></td>
                <td><span th:text="${car.model}"> Model </span></td>
                <td><span th:text="${car.status}"> Status </span></td>
                <td>
                    <a th:href="@{/bil/{carId}(carId=${car.id})}">
                        <button class="button">Rediger</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>