<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{general.css}">
    <link rel="stylesheet" th:href="@{administratorpage.css}">
</head>

<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<div class="content-under-header">
    <div id="all_buttons_in_body_admin">
        <a href="/biler">
            <button class="button_style_admin" type="submit">Se alle biler</button><br><br>
        </a>
        <a href="/opret-bil">
            <button class="button_style_admin" type="submit">Opret ny bil</button><br><br>
        </a>
        <a th:href="@{/bil/{carId}}">
            <button class="button_style_admin" type="submit">Rediger bil</button><br><br>
        </a>
        <a th:href="@{/bil/{carId}}">
            <button class="button_style_admin" type="submit">Slet bil</button><br><br>
        </a>

        </div>
    </div>

</body>
</html>