<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/cars-data.css}">
</head>
<body>

<header th:insert="fragments/fragments.html :: header"> </header>

<div class="container-fluid w-75">
    <div class="row m-2">
        <div class="col-12">
            <h1>Data over biler:</h1>
        </div>
    </div>

    <div class="row">

        <table class="col-12 m-2 table table-bordered table-hover">
            <thead>
                <th scope="col" class="table-secondary">Total antal udlejede biler</th>
                <th scope="col" class="table-secondary">Totalpris for udlejde biler</th>
            </thead>
            <tbody>

                <tr th:if="${listOfRentedCars.empty}">
                    <td colspan="5"> Der er ingen biler i systemet</td>
                </tr>

                <tr>
                    <td ><span th:text="${numberOfRentedCars}"> Antal Udlejde biler </span></td>
                    <td ><span th:text="${totalPriceOfRentedCars}"> Totalpris udlejede biler </span></td>
                </tr>

            </tbody>
        </table>

        <table class="col-12 m-2 table table-bordered table-hover">
            <thead>
                <th scope="col" class="table-secondary">Vognnummer</th>
                <th scope="col" class="table-secondary">Købspris</th>

            </thead>
            <tbody>

                <tr th:if="${listOfRentedCars.empty}">
                    <td colspan="5"> Der er ingen biler i systemet</td>
                </tr>

                <tr  th:each="car : ${listOfRentedCars}">
                    <td ><span th:text="${car.id}"> Vognnummer </span></td>
                    <td ><span th:text="${car.carPrice}"> Købspris </span></td>

                </tr>

            </tbody>
        </table>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>