<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Opret skadesrapport</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/create-user.css}">
</head>
<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<div class="content-under-header" id="all_buttons_in_body_createuser">
    <form action="#" th:action="@{/opret-skadesrapport}" th:object="${damageReport}" method="post">

        <div>

            <label><b>Vælg bil:*</b> <br>
                <span th:if="${noCar}" style="font-size: small; color: red">Vælg en bil! <br></span>
                <select th:field="*{carId}">
                    <option value="-1">Vælg bil</option>
                    <option th:each="car : ${cars}" th:value="${car.id}"
                            th:text="${car.id + ' - ' + car.make + ' ' + car.model}"></option>
                </select>
            </label> <br> <br>

            <label><b>Medarbejder id:*</b></label> <br>
            <input type="text" placeholder="Status" th:field="*{technicianId}" required> <br> <br>

            <label><b>Bæmærkninger:*</b></label> <br>
            <input type="text" placeholder="Mærke" th:field="*{notes}" required> <br><br>

            <button class="btn btn-secondary" type="submit">Opret skadesrapport</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>