<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Opret Bruger</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/general.css}">
    <link rel="stylesheet" th:href="@{/create-user.css}">
</head>

<body>
<header th:insert="fragments/fragments.html :: header"></header>

<div class="content-under-header" id="all_buttons_in_body_createuser">
    <form action="#" th:action="@{/opret-bruger}" th:object="${user}" method="post">

        <div>
            <label><b>Brugernavn:</b></label> <br>
            <input type="text" placeholder="Navn" th:field="*{username}" required> <br><br>

            <label><b>Adgangskode:</b></label> <br>
            <input type="password" placeholder="Indtast adgangskode" th:field="*{password}" required> <br> <br>

            <label><b>Rolle:</b> <br>
                <select th:field="*{roleID}">
                    <option th:value="0" th:text="'Dataregistrering'"></option>
                    <option th:value="1" th:text="'Skade og Udbedring'"></option>
                    <option th:value="2" th:text="'Forretningsudvikler'"></option>
                    <option th:value="3" th:text="'Administrator'"></option>
                </select>
            </label> <br><br>

            <label><b>Lokation:</b> <br>
                <select th:field="*{locationId}">
                    <option th:each="location : ${locations}" th:value="${location.id}"
                            th:text="${location.name}"></option>
                </select>
            </label> <br> <br>

            <button class="btn btn-secondary" type="submit">Opret bruger</button>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>

</html>