<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{general.css}">
    <link rel="stylesheet" th:href="@{damageAndRectificationpage.css}">
</head>

<body>
<header th:insert="fragments/fragments.html :: header"> </header>

<div class="content-under-header">
    <div id="all_buttons_in_body_damage">
        <button class="button_style_damage" type="submit">Opret skadesrapport</button><br><br>
        <a href="/skadesrapporter">
        <button class="button_style_damage" type="submit">Se alle skadesrapporter</button><br><br>
        </a>
    </div>
</div>

</body>
</html>