<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bilabonnement.dk </title>
    <link rel="stylesheet" th:href="@{landingpage.css}">
    <link rel="stylesheet" th:href="@{general.css}">
</head>
<body>

<header class="landingpageHeader">
    <img class="img_style" src="pictures/logo.jpg">
</header>

<div class="content-under-header">
<form  action="#" th:action="@{/login}" th:object="${user}" method="post">

        <label><b>Brugernavn:</b></label> <br>
        <input type="text" placeholder="Indtast brugernavn" name="uname"> <br> <br>

        <label> <b>Adgangskode:</b></label> <br>
        <input type="password" placeholder="Indtast adgangskode" name="psw"> <br> <br>

        <button type="submit">Log ind</button>
</form>
</div>

</body>
</html>

